.animationContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.animationContainer div {
    margin-right: 20px;
    font-size: 1.4rem;
    /*margin-left: 5vw;*/
}

@media screen and (max-width: 768px) {
    .animationContainer {
        display: flex;
        flex-direction: column;
        line-height: 2;
    }
}