.parallaxImage {
    overflow: hidden;
}

.parallaxImage img {
    height: 100%; /* Full height of the viewport */
    width: 100vw;
    object-fit: cover; /* Cover the container without losing aspect ratio */
    object-position: top; /* Align the center of the image with the center of the container */
    display: block;
}

